@model WSite_ShowRoom_CtyThoiTrang.Models.tb_NhanVien
@{
    ViewBag.Title = "Hệ thống đăng nhập nhân viên";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    <link href="~/Content/CSS/Admin/Login.css" rel="stylesheet" />
}
<style>
    body {
        margin-top: 20px;
        background: #f6f9fc;
    }
</style>
@using (Html.BeginForm("DangNhap", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Đăng Nhập</h3>
                                        <h2 class="text-danger">@ViewBag.error</h2>
                                    </div>

                                    <h6 class="h5 mb-0">Welcome back!</h6>
                                    <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>

                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mã số nhân viên</label>
                                            @Html.TextBoxFor(m => m.MSNV, "", new { @class = "form-control", @placeholder = "Nhập mã số nhân viên" })
                                            @*<input type="email" class="form-control" id="exampleInputEmail1">*@
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="exampleInputPassword1">Password</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                            @*<input type="password" class="form-control" id="exampleInputPassword1">*@
                                        </div>


                                        <button type="submit" id="submit" class="btn btn-lg btn-custom btn-dark btn-block">
                                            Đăng Nhập
                                        </button>
                                        <a href="#l" class="forgot-link float-right text-primary">Quên mật khẩu ?</a>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">Hệ thống đăng nhập nhân viên</h4>
                                        <p class="lead text-white">"Chúc bạn một ngày thiện lành"</p>
                                        <p>Quản Lý - Nhân Viên</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
}


