
@{
    ViewBag.Title = "Chính sách thanh toán";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="p-4">
    <h1>CHÍNH SÁCH THANH TOÁN</h1>
    <p>Khi mua các sản phẩm trên hệ thống website ,quý khách hàng có thể tham khảo các hình thức thanh toán như sau:</p>
    <b>1. THANH TOÁN TIỀN MẶT KHI NHẬN HÀNG (COD)</b>
    <p>
        Quý khách thanh toán toàn bộ giá trị đơn hàng cho nhân viên giao nhận.
    </p>
    <b>
        2. THANH TOÁN ONLINE QUA THẺ TÍN DỤNG / THẺ GHI NỢ VISA, MASTER CARD, JCB
    </b>
    <p>
        Khách hàng sử dụng các loại thẻ tín dụng / ghi nợ / trả trước VISA, MasterCard, JCB của các Ngân hàng trong nước và nước ngoài phát hành.
    </p>
    <p>
        Toàn bộ hệ thống thanh toán được bảo mật theo Tiêu Chuẩn Quốc Tế PCI-DSS, khách hàng có thể hoàn toàn yên tâm khi thanh toán bằng hình thức trả trước qua thẻ tín dụng / thẻ ghi nợ tại website.
    </p>
    <p>
        Giao dịch được ghi nhận là thành công khi khách hàng nhận được thông báo từ hệ thống cổng thanh toán trả về trạng thái “Giao dịch thành công” (đảm bảo số dư / hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).
    </p>
    <b>
        3. THANH TOÁN ONLINE QUA THẺ ATM NỘI ĐỊA
    </b>
    <p>
        Khách hàng thanh toán số tiền mua hàng bằng thẻ ATM nội địa của 39 ngân hàng trong nước phát hành có kết nối với cổng thanh toán.
    </p>
    <p>
        Hình thức thanh toán đơn giản, dễ sử dụng, trực quan và an toàn chỉ trong 03 bước:
    </p>
    <ul>

        <li>
            - Nhập thông tin thẻ.
        </li>
        <li>
            - Xác thực khách hàng.
        </li>
        <li>
            - Thanh toán và nhận ngay kết quả.
        </li>
    </ul>
    <p>
        Ngoài ra, để thanh toán bằng thẻ ngân hàng nội địa, thẻ của khách hàng phải được đăng ký sử dụng tính năng thanh toán trực tuyến, hoặc ngân hàng điện tử của Ngân hàng.
    </p>
    <p>
        Giao dịch được ghi nhận là thành công khi khách hàng nhận được thông báo từ hệ thống cổng thanh toán trả về trạng thái “Giao dịch thành công” (đảm bảo số dư / hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).
    </p>
</div>
